.HeadingEditorContainer{
    background-color: pink;
    position: relative;
    top: 25%;
}

.Title{
    padding-right: 5%;
}

.TextInput > textarea{
    width: 100%;
    height: 150px;
}

.LinkInput > input{
    width: 100%;
}
