.Title{
}

.TextInput > textarea{
    width: 100%;
    height: 150px;
}

.LinkInput > input{
    width: 100%;
}

.AlignmentInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}