.Title{
}

.Input-Container{
    width: 80%;
    margin: 0 auto;
}

.TextInput > textbox{
    width: 100%;
    height: 150px;
}

.LinkInput > input{
    width: 100%;
}

.AlignmentInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}