.home-page-title {
  padding-top: 3em;
  padding-right: 3em;
  padding-left: 3em;
  text-align: center;
  color: white;
  font-weight: 600;
}

.home-page-subtitle {
  text-align: center;
  color: white;
}

.faq-cards-actions {
  height: "52px";
  padding: "16px";
}

.faq-cards {
  width: "256px";
  height: "256px";
  background-color: skyblue;
  margin: "auto";
}

.faq-grid {
  display: flex;
  padding-bottom: "20px";
}

.started-grid {
  display: flex;
  margin-bottom: "100px";
}

.temp-grid {
  display: flex;
  margin-bottom: "100px";
  background-color: white;
}

.cat-grid {
  color: grey;
  text-decoration: none;
  padding: "-30";
}

h2 {
  text-align: center;
}

.gridBkgd {
  background: "./coworkers-discussing-business-ideas-PWAASLV.jpg";
}

.landing-page-card-style {
  width: 256px;
  height: 256px;
  margin: auto;
} /*not used yet*/

.button.button-primary {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.button.button-primary.active {
  color: #b2bec3;
  background-color: transparent;
  border-color: transparent;
}

.button.button-primary:hover {
  color: #74b9ff;
  background-color: transparent;
  border-color: transparent;
}

.website-background {
  background-color: #000;
}

.main-top-home-nav {
  float: left;
  background-image: url("https://www.cosc.brocku.ca/~c4f00g03/react/public/imagesFolder/logo-croppped.png");
  background-size: 40px 40px;
  background-color: transparent;
  border-color: transparent;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.topnav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.a-btn {
  padding: 1px 6px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.a-btn:active {
  color: #b2bec3;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
}

.a-btn:hover {
  color: #74b9ff;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
}

.footer {
  bottom: 0;
  /* position: absolute; */
  width: 100%;
}

.creds{
  text-align: center;
}
