.login-card {
    padding: 10%;
}

.login-page-heading {
    color: black!important;
}

.center {
    text-align: center!important;
    display:flex;
    justify-content:center;
    align-items:center;
}