.PagesContainer{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 2vh;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.ListItemContainer{
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    padding: 10px;
    border-radius: 16px;
    background: lightgrey;
}

.PagesList{
    list-style: none;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.SideBySide{
    display: flex;
    flex-direction: row;
}

.TopBar{
    height: 10vh;
}

.TopBar-Icon{
    height: 5vh;
    width: 5vh;
}

.SideNav{
    width: "25vh";
    height: "90vh";
    background: "lightgrey";
}
  /*Styling for the add page pop up
  May want to play with later to make look better
  leaving as is for now as it is functional  */
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 35%;
    bottom: 35%;
    margin: auto;
    background: white;
  }
  